html{
    font-family:Pretendard,sans-serif;
    font-size:var(--font-size-pc);
    font-weight: var(--font-medium);
}
.commonFrame{
    width:1280px;
    margin:0 auto;
}
strong{
    color:var(--main-color);
}
h2{
    font-size: 2.5rem;
    font-weight: var(--font-bold);
    line-height: 1.1;
}
h3{
    font-size:1.1rem;
    font-weight: var(--font-bold);
    line-height: 1.1;
}
h4{
    font-size:1rem;
    font-weight: var(--font-bold);
    line-height: 1.1;
}

p{
    font-size:1rem;
    font-weight: var(--font-medium);
    line-height: 1.4;
}

/* button */
.btn_common{
    /* 선택한태그가 a태그 뿐만이 아니라 span태그 같은 다른태그가 될 수도 있다 가정 */
    display: inline-block;
    border:1px solid #000;
    color:#000;
    padding:0.4rem 1.5rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.btn_common.big{
    padding:0.4rem 2rem;
}
.btn_common.small{
    padding:0.4rem 1rem;
}
.btn_common:hover{
    color:var(--main-color);
    border:1px solid var(--main-color);
}
.btn_common:active{
    background-color: var(--main-color);
    color:#fff;
}
.btn_common.inactive{
    color:var(--inactive-color);
    border:1px solid var(--inactive-color);
    pointer-events: none;
}
.btn_common.white{
    color:#fff;
    border:1px solid #fff;
}
.btn_common.yes{
    background-color: var(--main-color);
    color:#fff;
}
.btn_common.popupno{
    color:#fff;
    border:1px solid #fff;
}

.enp{
    color:var(--point-color);
    font-weight: var(--font-thin);
}

input[type="checkbox"]{
    display: none;
}
label.checkbox{
    display: inline-flex;
    /* flex컨테이너가 inline태그처럼 포함하는 컨텐츠 만큼의 너비를 갖게되는 형태 */
    align-items: center;
    gap:0.5rem;
}
.custom_checkbox{
    border:1px solid #000;
    display: block;
    width:1rem;
    height:1rem;
}
input[type="checkbox"]:checked+.custom_checkbox{
    background: url("../img/icn_check.svg") no-repeat 50% 50% / 85% auto;
}

.bbs_pagination{
    display: flex;
    justify-content: center;
    gap: var(--space-small);
    margin-bottom:var(--space-xlarge);
}      
.bbs_pagination a{
    border:1px solid #000;
    padding:0.2rem 0.5rem;
}
.bbs_pagination a.on{
    background-color: var(--main-color);
    color:#fff;
}


