.mo{
    display: none;
}
.station2{
    display: none!important;
}
@media (max-width:1280px){
    .commonFrame.lmb{
        margin-bottom: var(--space-large);
    }
    .commonFrame.smb{
        margin-bottom: var(--space-small);
    }
    .commonFrame.large_margin{
        margin:var(--space-large) 1rem;
    }
    .commonFrame.form_submit{
        margin-bottom: var(--space-xlarge);
    }
    .commonFrame.bbs_pagination{
        margin-bottom: var(--space-xlarge);
    }
    .commonFrame.notice_form{
        margin-bottom: var(--space-small);
    }

    .commonFrame.option_bar{
        margin:var(--space-middle) 1rem;
    }
    .station6 figure{
        width:100%;
        height:20rem;
    }
    .commonFrame.desc3{
        gap: 1rem;
    }
    .commonFrame.desc3 br{
        display: none;
    }
    .commonFrame.desc4{
        gap: 1rem;
    }
    .commonFrame.desc4 br{
        display: none;
    }
    .mo{display: block;}
    .commonFrame.fade{
        margin-top: var(--space-middle);
        margin-bottom: var(--space-middle);
        gap: 1rem;
    }
    .commonFrame.desc1{
        margin-top: var(--space-middle);
        margin-bottom: var(--space-middle);
        gap: 1rem;
    }
    .commonFrame.desc2{
        margin-top: var(--space-middle);
        margin-bottom: var(--space-middle);
        gap: 1rem;
    }
    
    .type1{
        gap:1rem;
    }
    .pt100{
        padding-top: 0;
    }
    
    html{
        font-size: var(--font-size-tab);
    }
    .pc{
        display: none;
    }
    .commonFrame{
        width:auto;
        margin:0 1rem;
    }
    .commonFrame.station5{
        margin:0 1rem;
    }
    .commonFrame.station6{
        margin:0 1rem;
    }
    .type1{
        margin-top:var(--space-large);
        margin-bottom:var(--space-large);
    }
    .header_mo{
        z-index: 1000;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:5rem;
        background-color: var(--main-color);
        padding:0 1rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .logo_mo{
        display: flex;
        align-items: center;
    }
    .logo_mo a{
    }
    .logo_mo img{
        height:4rem;
    }
    #btn_gnb img{
        height:1.5rem;
    }
    #btn_gnb{
        display: flex;
        align-items: center;
        padding-left:2rem;
        cursor: pointer;
    }
    .hidden_gnb{
        position: fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        padding:1rem;
        box-sizing: border-box;
        background-color: #fff;
        transform: translateX(100%);
        /* transition: all 0.6s ease 0s; */
    }
    .hidden_gnb.on{
        transform: translateX(0%);
    }
    .hidden_gnb_top{
        display: flex;
        justify-content: space-between;
        height:5rem;
    }
    /* .hidden_gnb_top:before{
        content:"";
        width:2rem;
    } */
    #btn_close_gnb img{
        height:1.5rem;
    }
    #btn_close_gnb{
        display: flex;
        align-items: center;
        padding-left:2rem;
        cursor: pointer;
    }
    .gnb_mo_wrap{
        margin:var(--space-middle) 0;
        height:calc(100vh - 16rem);
        overflow: auto;
        min-height: 15rem;
    }
    .hidden_gnb_bottom{
        height:5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sns{
        display: flex;
        gap:var(--space-small);
    }
    /* .sns>li{
        border:1px solid red;
    } */
    .sns img{
        height:1.5rem;
    }
    .gnb_mo a{
        display: flex;
        height:2.5rem;
        align-items: center;
        /* padding:0 1rem; */
    }
    .gnb_mo ul a{
        background: var(--main-color);
        color:#fff;
    }
    .gnb_mo>li{
        border-bottom:1px solid var(--inactive-color);
        position: relative;
    }
    .gnb_mo>li:after{
        content:"";
        position: absolute;
        right:0;
        top:1rem;
        width:0.5rem;
        height:0.5rem;
        background: url("../img/icn_detail.svg") no-repeat 50% 50% / contain;
        transform:rotate(180deg);
        transition:all 0.3s ease 0s;
    }
    .gnb_mo>li:hover:after{
        transform:rotate(0deg);
    }
    .gnb_mo>li:hover ul{
        max-height:12.5rem;
    }

    /* .gnb_mo>li:nth-of-type(1):hover ul{
        height:calc(2.5rem * 3);
    }
    .gnb_mo>li:nth-of-type(2):hover ul{
        height:calc(2.5rem * 3);
    }
    .gnb_mo>li:nth-of-type(3):hover ul{
        height:calc(2.5rem * 4);
    }
    .gnb_mo>li:nth-of-type(4):hover ul{
        height:calc(2.5rem * 5);
    }
    .gnb_mo>li:nth-of-type(5):hover ul{
        height:calc(2.5rem * 1);
    } */


    .gnb_mo ul{
        max-height:0;
        overflow: hidden;
        transition: all 0.4s ease 0s;
    }



}
@media (max-width:768px){
    .desc7 p{
        margin:0 auto;
        margin-bottom: var(--space-middle);
        width:auto;
    }

    .card_list{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;
    }
    .card_list>li{
        padding:3.5rem 0.7rem;
        width:calc(50% - 0.5rem);
        flex-basis: auto;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: #fafafa;
        border-radius: 1rem;
        box-sizing: border-box;
    }



    .desc5 figure ul{
        flex-direction: column;
    }

    .list_table tr th:nth-of-type(2){
        display: none;
    }
    .list_table tr th:nth-of-type(4){
        display: none;
    }
    .list_table tr td:nth-of-type(2){
        display: none;
    }
    .list_table tr td:nth-of-type(4){
        display: none;
    }

    .list_table th:last-of-type{
        width:30%;
    }
    /* .list_table th:nth-of-type(4){
        width:15%;
    } */
    .list_table th:nth-of-type(3){
        width:64%;
    }
    /* .list_table th:nth-of-type(2){
        width:7%;
    } */
    .list_table th:nth-of-type(1){
        width:8%;
    }



    .commonFrame.desc3{
        flex-direction: column;
        gap: 1rem;
    }
    .commonFrame.desc3 figure{
        height:18rem;
        flex-grow: 0;
        flex-basis: auto;
    }

    .commonFrame.desc4{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .commonFrame.desc4 figure{
        height:18rem;
        flex-grow: 0;
        flex-basis: auto;
    }



    html{
        font-size: var(--font-size-mobile);
    }
    footer .commonFrame{
        flex-direction: column-reverse;
        gap: var(--space-small);
        align-items: center;
    }
    .foot2{
        display: flex;
        flex-direction: column-reverse;
        gap: var(--space-small);
    }
    .foot_sns{
        justify-content: center;
    }
    .foot_menu{
        justify-content: center;
        flex-wrap: wrap;
        gap:0 var(--space-small);
    }
    .info{
        justify-content: center;
    }
    .copy{
        text-align: center;
    }
    .commonFrame.fade{
        flex-direction: column;
        gap: var(--space-small);
    }
    .station3{
        width:100%;
    }
    .station4{
        width:100%;
    }

    .commonFrame.desc1{
        flex-direction: column;
        gap: var(--space-small);
    }
    .commonFrame.desc2{
        flex-direction: column;
        gap: var(--space-small);
    }
    .txt{
        padding-top: 0;
    }

    .type1{
        flex-direction: column-reverse;
    }
    .type1 figure{
        text-align: right;
    }
    .type1 figure img{
        width:80%;
    }
    .station1{
        display: none!important;
    }
    .station2{
        display: block!important;
        width:100%;
        /* height:100vh; */
        height:auto;
    }
    .station2 .swiper-pagination-bullet {
        width: 0.5rem;
        height: 0.5rem;
        display: inline-block;
        border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
        background: #fff;
        opacity: 1;
    }
    .station2 .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--main-color);
    }


}
@media (max-width:300px){
    .list_table th:last-of-type{
        display: none;
    }
    .list_table td:last-of-type{
        display: none;
    }
    /* .list_table th:nth-of-type(4){
        width:15%;
    } */
    .list_table th:nth-of-type(3){
        width:70%;
    }
    /* .list_table th:nth-of-type(2){
        width:7%;
    } */
    .list_table th:nth-of-type(1){
        width:10%;
    }

    .commonFrame.option_bar{
        flex-direction: column;
        gap: 1rem;
    }
    .hidden_gnb_bottom{
        flex-direction: column-reverse;
    }
}