/* 스타일 초기화 - 각각의 태그들에게 설정되어있는 기본스타일을 제거 */
*{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    /* 글씨크기를 부모태그에 적용된 글씨크기로 적용하겠다. - 상속시키겠다 */
    font-weight: inherit;
    line-height: 1;
}
/* 상속 스타일로 설정하는 이유는 영역태그에 글씨 관련 속성들을 지정했을 때 그 안에 자식태그나 자손태그 혹은 글자들의 글씨스타일을 한번에 적용 혹은 수정하기 편하게 하기위해서임 */
strong,b{
    font-weight: inherit;
}
i,em,address{
    font-style: inherit;
}
a{
    color:inherit;
    text-decoration: inherit;
}
ul,ol{
    list-style: none;
}
img,video{
    max-width: 100%;
}
input{outline: 0;}
table{border-collapse: collapse;}

/* 선택했을 때 가장자리에 보더가 없어지는 소스코드 */
textarea,input,option{
    outline: 0;
}
form,label,input,select,option,textarea{
    font-family: inherit;
    font-weight: inherit;
}
input[type="submit"]{
    background-color: transparent;
}
input[type="reset"]{
    background-color: transparent;
}


