header{
    overflow: hidden;
    height:5rem;
    /* height:24rem; */
    background-color: #fff;
    position: fixed;
    width:100%;
    left:0;
    top:0;
    /* transition:all 0.4s ease 0s; */
    z-index: 1000;
}
header:hover{
    height:24rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.439);
}
header:before{
    content:"";
    position:absolute;
    width:100%;
    height:0.2rem;
    left:0;
    top:4.8rem;
    background-color: var(--main-color);
    z-index: -1;
}
header .commonFrame{
    display: flex;
    justify-content: space-between;
}
main{
    margin-top:5rem;
}
.logo{
}
.logo a{
    display:block;
}
.logo a img{
    height:5rem;
}
.gnb{
    display: flex;
    /* color:#fff; */
}
.gnb>li{
    margin-right:var(--space-middle);
}
.gnb>li:last-of-type{
    margin-right: 0;
}
.gnb>li>a{
    display: flex;
    height:5rem;
    align-items: center;
}
.gnb>li>a:hover{
    text-decoration: underline;
}
.gnb>li>ul{
    color:#000;
    margin-top:var(--space-small);
}
.gnb>li>ul>li>a{
    display: flex;
    height:3rem;
    align-items: center;
}
.gnb>li>ul>li>a:hover{
    color:var(--main-color);
    text-decoration: underline;
}
.station1{
    width:100%;
    height:auto;
}
/* .station1 img{
    height:100%;
    object-fit: cover;
} */
.station1 .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #fff;
    opacity: 1;
}
.station1 .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--main-color);
}
.type1{
    margin-top:var(--space-large);
    margin-bottom:var(--space-large);
    display: flex;
    gap:4rem;
}
.type1>figure{
    flex:1;
}
.type1>section{
    flex:1;
}
.pt100{
    padding-top:5rem;
}
.type1 h2{
    margin-bottom:var(--space-middle);
}
.type1 h3{
    margin-bottom:var(--space-small);
}
.type1 p{
    margin:var(--space-small) 0;
}

.title1{
    margin-top:var(--space-large);
}
.title1 h2{
    margin-bottom:var(--space-small);
}
.title2{
    text-align: center;
    margin-top:var(--space-large);
}
.title2 h2{
    margin-bottom:var(--space-small);
}
.title3{
    text-align: center;
    position: relative;
    margin-top:var(--space-large);
}
.title3:after{
    content:"";
    position: absolute;
    left:calc(50% - 1rem);
    top:3.6rem;
    width:2rem;
    height:0.15rem;
    background: var(--main-color);
}
.title3 h2{
    margin-bottom: var(--space-middle);
}
.title4{
    text-align: center;
    position: relative;
    padding-bottom: 5rem;
    margin-top:var(--space-large);
}
.title4:after{
    content:"";
    position: absolute;
    width:0.2rem;
    height:4rem;
    left:calc(50% - 0.1rem);
    bottom:0;
    background-color: var(--main-color);
}
.title4 h2{
    margin-bottom: var(--space-small);
}
.commonFrame.desc1{
    margin-top: var(--space-middle);
    margin-bottom: var(--space-middle);
    display: flex;
    gap: 4rem;
}
.commonFrame.desc1>*{
    flex:1;
}
.txt{
    padding-top: var(--space-middle);
}
.txt h3{
    margin-bottom: var(--space-small);
}
.txt p{
    margin:var(--space-small) 0;
}
.commonFrame.desc2{
    margin-top: var(--space-middle);
    margin-bottom: var(--space-middle);
    display: flex;
    gap: 4rem;
    flex-direction: row-reverse;
}
.desc2>*{
    flex:1;
}
.commonFrame.fade{
    display: flex;
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    align-items: flex-end;
    gap:4rem;
}
.commonFrame.fade>*{
    flex:1;
}
.fade_txt h3{
    margin-bottom:var(--space-small);
}
.fade_txt p{
    margin:var(--space-small) 0;
}
.outerFrame{
    padding:var(--space-xlarge) 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.55) url("../img/con5.jpg") no-repeat 50% 50% / cover;
    background-blend-mode:overlay;
    color:#fff;
}
.outerFrame .commonFrame>*{
    margin:var(--space-small) 0;
}
.outerFrame .commonFrame>p:nth-of-type(1){
    margin-bottom:var(--space-large)
}
footer{
    background-color: #000;
    color:#fff;
    padding-top: var(--space-middle);
    padding-bottom: var(--space-xlarge);
}
footer .commonFrame{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.foot_sns img{
    height:1.5rem;
}
.logo_foot img{
    height:6.5rem;
}
.foot_menu{
    margin-bottom: var(--space-middle);
    display: flex;
    gap: var(--space-small);
}
.info{
    margin-bottom: var(--space-middle);
    display: flex;
    gap:0 var(--space-small);
    flex-wrap: wrap;
    opacity: 0.8;
}
.copy{
    opacity: 0.6;
}
.foot_sns{
    display: flex;
    gap: var(--space-small);
}
.commonFrame.ml{
    margin-top:var(--space-xlarge);
    padding-top: var(--space-xlarge);
    margin-bottom:var(--space-large);
}
.commonFrame.desc3{
    display: flex;
    gap:4rem;
    justify-content: space-between;
}
.commonFrame.desc3 .txt{flex:6;}
.commonFrame.desc3 figure{
    flex:5;
}
.commonFrame.desc3 figure img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.commonFrame.desc4{
    display: flex;
    flex-direction: row-reverse;
    gap:4rem;
    justify-content: space-between;
}
.commonFrame.desc4 .txt{flex:6;}
.commonFrame.desc4 .txt>*{
    margin:var(--space-small) 0;
}
.commonFrame.desc4 figure{
    flex:5;
}
.commonFrame.desc4 figure img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.station5 li>*{
    margin-bottom:var(--space-small);
}
.station5 li>*:last-child{
    margin-bottom:0;
}
.station5 strong{
    display: block;
}

.commonFrame.station5{
    padding-bottom: var(--space-large);
}
.station5 figure img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.station5 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}



.station6 li>*{
    margin-bottom:var(--space-small);
}
.station6 li>*:last-child{
    margin-bottom:0;
}
.station6 strong{
    display: block;
}
.commonFrame.station6{
    padding-bottom: var(--space-large);
}
.station6 figure{
    width:100%;
    height:15rem;
}
.station6 figure img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.station6 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}
.sub_banner{
    height:25rem;
    display: flex;   
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#fff;
    padding:0 1rem;
}
.sub_banner h2{
    margin-bottom:var(--space-small);
}
.sub1{
    background:
    linear-gradient(90deg,rgba(0, 0, 0, 0.684) 0%,rgba(0, 0, 0, 0) 100%),
    url("../img/subbanner1.jpg") no-repeat 50% 50% / cover;
    background-blend-mode: multiply;
}
.option_bar{
    margin:var(--space-middle) auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option_bar.client {

}

.notice_form{
    margin-bottom: var(--space-small);
}
.list_table{
    table-layout: fixed;
    width:100%;
}
.list_table th{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding:1rem 0;
}
.list_table th:last-of-type{
    width:15%;
}
.list_table th:nth-of-type(4){
    width:15%;
}
.list_table th:nth-of-type(3){
    width:57%;
}
.list_table th:nth-of-type(2){
    width:7%;
}
.list_table th:nth-of-type(1){
    width:6%;
}


.list_table td{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    text-align: center;
    padding: 0.9rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_table td a{
    display: block;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_table td:nth-of-type(3){
    text-align: left;
}

.option_admin{
    display: none;
}
.admin .option_admin{
    display: flex;
}
.cell_admin{
    display: none;
}
.admin .cell_admin{
    display: table-cell;
}

.form_title label{
    display: none;
}
.form_title{
    border-bottom:1px solid #000;
    margin-bottom: var(--space-small);;
}

.form_title input{
    width:100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding:0.4rem 0.5rem;
    border: none;
}
.form_title input::placeholder{
    color:var(--inactive-color);
    font-weight: var(--font-medium);
}
.form_desc label{
    display: none;
}
textarea{
    font-size: 0.9rem;
}
.form_desc{
    margin-bottom: var(--space-small);
    border-bottom:1px solid #000;
}
.form_desc textarea{
    display: block;
    width:100%;
    resize: none;
    height:20rem;
    padding:0.4rem 0.5rem;
    border: none;
    box-sizing: border-box;
}
.form_desc textarea::placeholder{
    color:var(--inactive-color);
}

.form_submit{
    margin-bottom: var(--space-xlarge);
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.modal{
    position: fixed;
    left:0;
    top:0;
    z-index: 10000;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.7);
    /* display: none; */
    /* transition: all 0.4s ease 0s; */
    opacity: 0;
    pointer-events: none;
}
.modal.on{
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
}
.popups{
    position: fixed;
    left:50%;
    top:50%;
    z-index: 10000;
    transform: translate(-50%,-50%);
    color:#fff;
    width:60%;
    text-align: center;
    display: none;
}
.popups.on{
    display: block;
}
.popup_title{
    margin-bottom: var(--space-small);
}
.large_margin{
    margin:var(--space-large) auto;
}
.view_info{
    display: flex;
    gap: var(--space-small);
}
.button_list{
    /* display: flex; */
    gap: var(--space-small);
}
.button_list img{
    height:1.2rem;
    object-fit: contain;
}
.bb{
    border-bottom:1px solid #000;
    padding:0.5rem 0;
}
.view_txt{
    padding:0.5rem;
    min-height: 35rem;
    margin-bottom:var(--space-small);
}
.lmb{
    margin-bottom: var(--space-large);
}
.fixed_menu{
    position: fixed;
    right:1rem;
    bottom:1rem;
    z-index: 1000;
    transform: translateX(150%);
    /* transition:all 0.6s ease 0s; */
}
.fixed_menu.on{
    transform: translateX(0%);
}
.fixed_menu li{
    margin-top:0.5rem;
}
.fixed_menu img{
    height:1.1rem;
    object-fit: contain;
}
.fixed_menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:2.8rem;
    height:2.8rem;
    background-color: var(--main-color);
    border-radius: 50%;
}
.title_intro{
    text-align: center;
    margin-top:var(--space-xlarge)!important;
    margin-bottom:var(--space-large)!important;
}
.desc5{}
.desc5 .txt{
    text-align: center;
    margin-bottom:var(--space-middle);
}
.desc5 .txt>*{
    margin-bottom:var(--space-middle);
}
.desc5 .txt>*:last-child{
    margin-bottom:0;
}
.desc5 figure ul{
    display: flex;
    gap: 1rem;
}
.desc5 figure li{
    flex:1;
}
.desc5 figure li img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.desc6 .txt{
    margin-bottom: var(--space-middle);
    text-align: center;
}
.desc6 .txt>*{
    margin-bottom: var(--space-middle);
}
.desc6 .txt>*:last-child{
    margin-bottom: 0;
}
.card_list{
    display: flex;
    gap: 1rem;
    text-align: center;
}
.card_list>li{
    padding:3.5rem 0.7rem;
    flex:1;
    background-color: #fafafa;
    border-radius: 1rem;
}
.card_list>li>*{
    margin-bottom: var(--space-small);
}
.card_list>li>*:last-child{
    margin-bottom: 0;
}
.card_list img{
    height:1.2rem;
    object-fit: contain;
}
.desc6{
    
}
.desc7{
    text-align: center;
}
.desc7 h4{
    margin: var(--space-small) 0;
    color:var(--main-color);
}
.desc7 p{
    margin:0 auto;
    margin-bottom: var(--space-middle);
    width:60%;
}
.consulting_form{
    margin-top: var(--space-xlarge);
    padding-top: var(--space-large);
    margin-bottom: var(--space-large);
}
.consult1{
    margin-bottom: var(--space-large);
}
.consult1>*{
    margin-bottom: var(--space-small);
}
.consult1>*:last-child{
    margin-bottom: 0;
}
.consult1 h3{
    margin: var(--space-middle) 0;
}
.terms{
    border: 1px solid var(--inactive-color);
    padding: 1rem;
    white-space: pre-wrap;
}

.consult2>*{
    margin-bottom: var(--space-small);
}
.consult2>*:last-child{
    margin-bottom: 0;
}
.consult2 h3{
    margin: var(--space-middle) 0;
}
.consult2 table{
    width:100%;
}
.consult2 table th{
    text-align: left;
    width:14%;
}
.consult2 table tr{
    height:4rem;
}
.submit{
    border-top: 2px solid #000;
    padding-top: var(--space-small);
}