:root{
    --font-bold:600;
    --font-medium:400;
    --font-thin:300;
    --main-color:#BA000C;
    --point-color:#888888;
    --inactive-color:#b7b7b7;
    --font-size-pc:20px;
    --font-size-tab:18px;
    --font-size-mobile:14px;
    --space-small:1rem;
    /* space-small -> 같은 맥락인데 구분하는 여백 */
    --space-middle:2rem;
    /* space-middle -> 다른 맥락 구분 여백 */
    --space-large:3.5rem;
    /* space-large -> 영역공간의 위아래 여백 */
    --space-xlarge:7rem;
    /* space-xlarge -> 영역간 여백 */
}